.quantitySelector{
  background-color: #f1f5f6;
  border-radius: 999px;
  display: flex;
  flex-direction: row;
height: 32px;
  width: 96px;
  justify-content: space-around;
  align-items: center;


  color: #212529;
  font-family: Gerbera;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}