.button {
  padding: 12px 40px;
  border-radius: 40px;
  background: rgb(230, 51, 42);
  color: white;

  &:hover {
    background: rgb(207, 28, 19);
  }

  &:active {
    background: rgb(173, 17, 9);
  }

  &:disabled {
    background: rgb(222, 188, 186);
  }
}