.contacts__items {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  column-gap: 80px;
  row-gap: 48px;
  @media screen and (max-width: 768px) {
    grid-template-columns:1fr;
    row-gap: 40px;
  }
}

.contacts__item {
  color: #212529;
  font-family: Gerbera;
  font-size: 18px;
  line-height: 140%;
}

.item__title {
  font-size: 20px;
  text-transform: initial;
}

.item__content {
  color: #212529;
  font-family: Gerbera;
  font-size: 18px;
  font-weight: 400;
  line-height: 180%;
}

.email {
  font-weight: bold;
}