/*@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');*/

@font-face {
  font-family: 'RF Rufo';
  src: url('assets/fonts/RFRufo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gerbera';
  src: url('assets/fonts/Gerbera.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gerbera-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gerbera Regular'), url('assets/fonts/Gerbera-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Gerbera-Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gerbera Italic'), url('assets/fonts/Gerbera-Regular-Italic.woff') format('woff');
}


@font-face {
  font-family: 'Gerbera-Light';
  font-style: normal;
  font-weight: normal;
  src: local('Gerbera Light'), url('assets/fonts/Gerbera-Light.woff') format('woff');
}


@font-face {
  font-family: 'Gerbera Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gerbera Light Italic'), url('assets/fonts/Gerbera-Lightitalic.woff') format('woff');
}


@font-face {
  font-family: 'Gerbera Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Gerbera Medium'), url('assets/fonts/Gerbera-Medium.woff') format('woff');
}


@font-face {
  font-family: 'Gerbera Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gerbera Medium Italic'), url('assets/fonts/Gerbera-Medium-italic.woff') format('woff');
}


@font-face {
  font-family: 'Gerbera-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Gerbera-Bold'), url('assets/fonts/Gerbera-Bold.woff') format('woff');
}


@font-face {
  font-family: 'Gerbera Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gerbera Bold Italic'), url('assets/fonts/Gerbera-Bold-Italic.woff') format('woff');
}


@font-face {
  font-family: 'Gerbera Black';
  font-style: normal;
  font-weight: normal;
  src: local('Gerbera Black'), url('assets/fonts/Gerbera-Black.woff') format('woff');
}


@font-face {
  font-family: 'Gerbera Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gerbera Black Italic'), url('assets/fonts/Gerbera-Black-italic.woff') format('woff');
}

body {
  margin: 0;
  font-family: Gerbera, /*instead of Gerbera*/ /*    Oswald, /*instead of RF Rufo*/ -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F1F5F6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a {
  color: white;

  &:visited {
    color: white
  }
}

.title {
  font-family: RF Rufo, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 4%;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 32px;
  @media screen and (max-width: 768px) {
    font-size: 28px;
  }
}

.navHistory {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}